@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600);

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
body {
  background: #FBF7FF;
  /* */
}
.wrap {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
.menu {
  width: 300px;
  text-transform: uppercase;
  font-size: 14px;
}
input#toggle {
  position: absolute;
  z-index: -1;
}
input#toggle:checked ~ label {
  background: #42423E;
}
input#toggle:checked ~ ul {
  display: inline;
  opacity: 1;
  animation-play-state: running; 
}
ul {
  z-index: -1;
  margin: -5px 0 0 0;
  display: none;
  opacity: 0;
  animation: fade .7s linear;
  animation-play-state: paused;  
}
label, li {
  width: 300px;
  background: #B89F62;
  display: block;
  padding: 15px 20px;
  cursor: pointer; 
}
label {
  box-shadow: 0 6px 10px -6px #B89F62;
}
li {
  border-bottom: 3px solid #B89F62;
}
li:hover, label:hover {
  background: #B89F62;
}
ul:before {
  display: block;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 10px solid transparent; 
  position: relative;
  left: 100%;
}
li:last-child {
  border: none;
  box-shadow: 0 6px 10px -6px #B89F62;
}
a, span, h1 {
  color: #FFFFFF;
  text-fill-color: transparent;
  background: linear-gradient(transparent, transparent), linear-gradient(to bottom, #ffffff 0%,#efe9e8 100%) no-repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; 
  cursor: pointer;  

}
h1{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px 40px;
  color: #1E2A4D;
}

h1#name{
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px 40px;
  color: #1E2A4D;
}
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.gallery{
  margin: 20% auto;
  height: 300px;
  width: 450px;

}
img{
border-radius: 10px;
width: 100%;
}


@media (max-width: 720px) {
img{  border-radius: 10px;
  -o-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

}
/*Style Tile*/
section {
  margin: 20px  auto;
}
.container {
  margin-top: 6em;
  border-radius: 2em;
  background: #f3f3f3;
  padding: 5em;
  background-color: #EDEEF0;
}
.color-1,
.color-2,
.color-3,.color-4,.color-5,.texture-1,.texture-2,.texture-3{
  border: 4px solid #000;
  float: left;
  margin: auto 10px;
  height: 80px;
  width: 80px;
}
.color-1{
    background-color: #ED2E3A;

} 
.color-2{
    background-color: #1E2844;

}
.color-3{
    background-color: #FBF7FF;

}
.color-4{
    background-color: #B89F62;

}  
.color-5{
    background-color: #2B302E;

} 
.texture-1{
background-color: #fbf7ff;
background-image: url(http://www.transparenttextures.com/patterns/black-twill.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
.texture-2{
background-color: #b89f62;
background-image: url(http://www.transparenttextures.com/patterns/crissxcross.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.texture-3{
background-color: #fbf7ff;
background-image: url(http://www.transparenttextures.com/patterns/black-twill.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
