/*
Guillermo Contreras-Mendoza
CSS-Styles

*/
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
#meImg{
	width: 400px;
	height: 450px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	opacity: 30;
}

h6{

	text-align: center;
}

	h1{
		color: pink;
		outline-color: green;
}

#bioMe {
	color:blue;
    font-family:verdana;
    font-size:100%;
}
.Home{

	text-align: center;
	color: gray;
}
.Contact{
	text-align: center;
	color: gray;
}

#bio{
	font-size: 50px;
	text-align: center;
	
}
